#form-container :nth-child(4){
    display: flex;
    flex-direction: row-reverse;
}

#signup-screen > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 20px;
    padding: 40px;
}

#form-container > div:first-child{
    display: flex;
    flex-direction: column;
    gap : 10px
}


#signup-screen {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}