.signup-screen > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-container > div:first-child{
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 20px;
    padding: 40px;
}

.signup-screen {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}